.Hours{
background-color: #cc0011;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc0011' width='11' height='11'/%3E%3Crect fill='%23cd0314' x='10' width='11' height='11'/%3E%3Crect fill='%23cd0617' y='10' width='11' height='11'/%3E%3Crect fill='%23ce0a1a' x='20' width='11' height='11'/%3E%3Crect fill='%23ce0d1d' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cf1020' y='20' width='11' height='11'/%3E%3Crect fill='%23cf1323' x='30' width='11' height='11'/%3E%3Crect fill='%23d01626' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d1192a' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23d11d2d' y='30' width='11' height='11'/%3E%3Crect fill='%23d22030' x='40' width='11' height='11'/%3E%3Crect fill='%23d22333' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23d32636' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23d32939' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23d42d3c' y='40' width='11' height='11'/%3E%3Crect fill='%23d5303f' x='50' width='11' height='11'/%3E%3Crect fill='%23d53342' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23d63645' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23d63948' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23d73d4b' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23d8404e' y='50' width='11' height='11'/%3E%3Crect fill='%23d84351' x='60' width='11' height='11'/%3E%3Crect fill='%23d94654' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23d94958' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23da4c5b' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23da505e' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23db5361' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23dc5664' x='70' width='11' height='11'/%3E%3Crect fill='%23dc5967' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23dd5c6a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23dd606d' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23de6370' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23de6673' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23df6976' x='80' width='11' height='11'/%3E%3Crect fill='%23e06c79' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23e0707c' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23e1737f' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23e17683' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23e27986' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23e27c89' x='90' width='11' height='11'/%3E%3Crect fill='%23e37f8c' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23e4838f' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23e48692' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23e58995' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23e58c98' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23e68f9b' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23e7939e' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23e796a1' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23e899a4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e89ca7' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e99faa' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a3ad' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23eaa6b1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23eba9b4' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ebacb7' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ecafba' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ecb2bd' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23edb6c0' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23edb9c3' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23eebcc6' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
height: 100vh;
}
.HoursContainer{
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(8, 1fr);
font-weight: bold;
background-color: rgba($color: #000000, $alpha: 0.1);
grid-template-areas: 
// ". ."
"Title Title"
"Mon MonT"
"Tue TueT"
"Wed WedT"
"Thu ThuT"
"Fri FriT"
"Sat SatT"
"Sun SunT"
}

.Title{
grid-area: Title;
font-weight: bolder;
padding-top: 30px;
}
.Mon{
grid-area: Mon;
}
.MonT{
grid-area: MonT;
}
.Tue{
grid-area: Tue;
}
.TueT{
grid-area: TueT;
}
.Wed{
grid-area: Wed;
}
.WedT{
grid-area: WedT;
}
.Thu{
grid-area: Thu;
}
.ThuT{
grid-area: ThuT;
}
.Fri{
grid-area: Fri;
}
.FriT{
grid-area: FriT;
}
.Sat{
grid-area: Sat;
}
.SatT{
grid-area: SatT;
}
.Sun{
grid-area: Sun;
}
.SunT{
grid-area: SunT;
padding-bottom: 20px;
}